@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:wght@100&family=Roboto:wght@100&family=Varela+Round&display=swap');

body {
    background-color: #0d1117;
    font-family: 'Inter';
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    height: 450px;
    border: 1px solid #7d7d7a88;
    width: 400px;
    background-color: #161b22;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.modal__header {
    margin-bottom: 20px;
    color: #ffff;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: .3px;

}



.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__input {
    border: 1px solid #7d7d7a88;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-family: 'Inter';
}

input::placeholder {
    opacity: 50%;
}

.form__button {
    margin-top: 15px;
    width: 300px;
    height: 40px;
    border: none;
    background-color: #fdd85d;
    border-radius: 5px;
    color: #2d2a32;
    font-family: 'Inter';
    font-size: 15px;
    letter-spacing: .3px;
}

.form__button:hover {
    background-color: #2d2a32;
}

.form__text {
    width: 300px;
    margin-bottom: 10px;
    color: #ffff;
    font-family: 'Inter';
}

.form__text::after {
    content: '*';
    color: #c90606;
    margin-left: 3px;
}

input:focus {
    border: 1px solid #fdd85d;
    
}
